
/*
  #CB4B16 == ORANGE
  #b58900 == YELLOW
  #6C71C4 == PURPLE
    #2AA198 == SLIME GREEN
*/

body 
{
  background: #fdf6e3;
}

body,
.saveButton,
.showCompletedButton,
.ui-widget,
.button--top-right,
.headline,
.contentTagText,
.contentTagNub,
.contentTag,
h1, h2, h3, h4, h5, h6, p, li,
.entry-title
{
/* 	font-family: 'Roboto', sans-serif;     */
    font-family: 'Fira Code';    
/*     font-family: 'Roboto Mono';     */
/* 	font-family: 'Menlo';     */
/* 	font-family: 'Inconsolata', monospace;     */
/*     font-family: 'Consolas', monospace;     */
}

.edge,
.corner 
{
  display: none; 
}

.page.active {
  background-color: #fdf6e3;
/*   color: #657b83;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);  */
}

.parent > .name > .content,
.parent > .name > .parentArrow {
  color: #93a1a1; 
}
.selected.project > .name 
{
  padding-bottom: 10px;
}

.selected.project > .name > .content {
/*     color: #CB4B16; */
    color: #b58900;
    background: #EEE8D5;
    display: initial;
    padding: 10px 20px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
.selected.project.done > .name > .content {
    color: #2AA198;    
}
.selected.project > .notes > .content,
.selected.project.done > .notes > .content{
    padding: 0px 5px;    
  color: #586E75; 
}

.notes > .content {
  height: auto !important;
  display: block !important;
  -webkit-line-clamp: none !important;
  max-height: none !important;
}

.project.done > .name > .content
{
    color: #839496; 
    opacity: 0.4;
    
/*     text-decoration-style: solid; */
/*     text-decoration: none; */
/*     text-decoration: underline; */
/*     text-decoration: overline; */
/*     text-decoration: underline overline line-through; */
    text-decoration: line-through;
/*     text-decoration-style: double; */
/*     text-decoration-style: wavy; */
}

.project.done > .notes > .content
{
    color: #93A1A1;
    opacity: 0.4;
    text-decoration: line-through;
/* 	text-decoration: underline overline line-through; */
/*     text-decoration-style: double; */
/*     text-decoration-style: wavy; */
}


.project > .name > .content
{
    border-color: #eee8d5;
    color: #657B83;                                              
}

.project > .notes > .content
{
    color: #839496; 
}

.selected.done 
{
    color: #2AA198;    
}

.project.open > .children,
.project.open.done > .children 
{
    border-left-color: #FDF6E3;
}

.project.open > .children
{
/*     border-left-color: rgba(203,75,22, 0.4); */
    border-left-color: rgba(181,137,0, 0.4);
}
.project.open.done > .children 
{
/*     border-left-color: rgba(42,161,152, 0.4); */
    border-left-color: rgba(147,161,161, 0.4);
}

.project.done > .name > a.bullet 
{   
/*     color: #2AA198; */
/*     color: #839496; */
    color: #93A1A1;
    opacity: 0.4;
}

.bullet 
{
  	background-color: #eee8d5;
/*   	color: #CB4B16; */
	color: #b58900;
}

.project.task > .name > .bullet,
.project.open > .name > .bullet {
  background-color: transparent; 
}

.selected.project > .name > .content .contentTag:hover,
.selected.project > .name > .nameAnimated .contentTag:hover,
.selected.project > .name > .content .contentTag,
.selected.project > .name > .nameAnimated .contentTag{
    background: #EEE8D5;
    color: #D33682;
/*     color: #b58900; */
}

.content .contentTag:hover,
.nameAnimated .contentTag:hover,
.content .contentTag,
.nameAnimated .contentTag
{
    color: #D33682;     
/*     color: #b58900; */
}

.project.done > .name > .content > .innerContentContainer .contentTag,
.project.done > .notes > .content > .innerContentContainer .contentTag
{ 
/*     color: #D33682;   */
/*  color: #b58900; */
  	color: #839496; 
	opacity: 0.8;
}

.project.done > .name > .content > .innerContentContainer .contentLink,
.project.done > .notes > .content > .innerContentContainer .contentLink
{
    color: #839496; 
    opacity: 0.8;
}

::selection
{
/*     color: #B58900;
    background-color: #586E75 !important;    */
    color: #FDF6E3;
    background-color: #B58900 !important;
/* 	text-decoration: none; */
/*     text-decoration-style: line-through; */
}

.highlighted::before,
.addedToSelection::before
{
    background-color: #EEE8D5 !important;
}

/* FADE IN TOOLBAR ON HOVER */

.page 
{
  margin-top: 30px;
}
.header 
{
    opacity: 0;
}
.header:hover {
    opacity: 1;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
     transition-delay: .3s;
} 

.wikistyle,
textarea.enhanced 
{
  background: #073642;
  border-color: #073642;
  color: #657b83;
  font-family: inherit; 
}
.wikistyle a,
textarea.enhanced a 
{
    color: #268bd2; 
}
